/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ------ GLOBAL ------ */

body {
    font-family: Calibri;
    height: 100%;
    margin: 0;
}

h1{
	margin: 0;
	margin-top: 0.6em;
	margin-bottom: 0.5em;
}

.container{
    width: 1280px;
    margin: 0 auto;
}


/* ==================
   HEADER
   ================== */


header {
	background: #8497B0;
}


.navbar {
	display: flex;
    justify-content: space-between;
}

.navbar p, a, span {
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.navbar-item {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-items-right {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-item-login {
    margin-right: 10px;
}

.navbar-item-register {
    margin-left: 10px;
}
 


/* ===============
   HOMEPAGE
   =============== */


.background-img {
    background-image: url("../img/battleships-banner.jpg");
    height: 91.5vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 15px 50px;
    background: #F89606;
    text-decoration: none;
    color: #fff;
    border: 0;
}

.button:hover {
    cursor: pointer;
}

.centered-home-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ===========================
   Register Form
   =========================== */


input {
	width: 100%;
	padding: 12px 20px;
	margin: 12px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
}

.two-side-page {
	display: flex;
}

.left-side-page {
	width: 40%;
}

.right-side-page {
	width: 60%;
}

.submit-button {
	font-weight: bold;
	margin-top: 15px;
	float: right;
	padding: 10px 20px;
}

.battleship-img {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}


/* =========================
   GAME
   ========================= */

span.no-js{
    color: #EEEEEE;
    position: center;
}
.instructions {
    width: auto;
    display: inline-block;
    text-align: left;
    margin: 50px;
    padding-bottom: 19px;
    background: #b3d4fc;
}
.game-container{
    position: relative;
    background: #b3d4fc;
    text-align: center;
    padding-bottom: 50px;
}
#roster-sidebar, #stats-sidebar, #restart-sidebar {
    width: 150px;
    padding: 20px;
    margin: 0;
    background-color: #EEEEEE;
    position: absolute;
    top: 4.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#roster-sidebar, #restart-sidebar {
    left: -200px;
}
#stats-sidebar {
    right: -200px;
}
    #roster-sidebar h2, #stats-sidebar h2, #restart-sidebar h2 {
        margin: 0 0 1em 0;
        text-align: center;
    }
    .fleet-roster {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .fleet-roster, button {
        opacity: 1;
        -webkit-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
    }
        .fleet-roster li {
            margin: 0.5em 0;
        }
            .fleet-roster li:hover {
                color: #aaa;
                cursor: pointer;
            }
        .fleet-roster .placing {
            font-weight: bold;
        }
        .fleet-roster .placed {
            visibility: hidden;
            font-weight: bold;
            opacity: 0;
            -webkit-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
        .invisible {
            opacity: 0;
            -webkit-transition: opacity 0.5s ease-in;
            -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
            z-index: -20;
        }
        .hidden {
            display: none;
        }
    
    .grid-container {
        width: 430px;
        display: inline-block;
        margin: 0 85px;
    }
    .grid-container h2 {
        width: 430px;
        display: inline-block;
        text-align: center;
    }
    
    .grid {
        position: relative;
        vertical-align: top;
        padding: 5px;
        height: 420px;
        width: 420px;
        background-color: #25567B;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
        .grid-container:last-child {
            margin-left: 10px;
        }
       
        .grid-cell {
            vertical-align: top; /*clears the vertical space between rows*/
            height: 40px;
            width: 40px;
            display: inline-block;
            background-color: #99C2E1;
            margin: 1px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
            .grid-cell:hover {
                cursor: pointer; /* Fallback for IE */
                background-color: #66A3D2;
            }
            .human-player .grid-cell:hover {
                background-color: #99C2E1;
            }
            .enemy-player .grid-cell:hover, .enemy-player:hover {
                cursor: url('../img/crosshair.png') 16 16, crosshair;
            }
        .grid-ship, .human-player .grid-ship:hover {
            background-color: #808080;
        }
        .grid-miss, .grid-miss:hover, .human-player .grid-miss:hover {
            background-color: #FFFFFF;
            background-image: url('../img/cross-icon.png'); /* Fallback */
            background-image: url('../img/cross-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
        .grid-hit, .grid-hit:hover, .human-player .grid-hit:hover {
            background-color: #F60018;
            background-image: url('../img/cross-icon.png'); /* Fallback */
            background-image: url('../img/cross-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
        .grid-sunk, .grid-sunk:hover, .human-player .grid-sunk:hover {
            background-color: #222222;
        }
    
    .highlight {
        overflow: visible; /* Bugfix for IE */
    }
        .highlight:before {
            content: "\2193";
            font-weight: bold;
            font-size: 75px;
            color: #FF9200;
            text-shadow: 0 0 5px #FF9200;
            position: absolute;
            width: 100px;
            height: 100px;
            top: -100px;
            left: 50%;
            margin-left: -50px;
            -webkit-animation: highlight 1.5s infinite;
            -o-animation: highlight 1.5s infinite;
            animation: highlight 1.5s infinite;
        }
    .current-step {
        font-weight: bold;
    }


/* =================================
   FOOTER
   ================================= */

body {
    position: relative;
}

.footer-background {
    background: #8497B0;
    color: #fff;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-link-list {
    list-style-type: '- ';
    padding-left: 15px;
    margin-left: 5px;
}

.redirect{
    height: 500px;
    background:  #b3d4fc;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
